---
name: Shell Script CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  # See: https://www.shellcheck.net/wiki/
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -s bash # See: https://github.com/koalaman/shellcheck/issues/809
